src/main/mule/ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4be9ec0e-61ab-4898-a734-289988293e64" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ci-cdFlow" doc:id="df3e300c-6ccc-4f44-a600-02b6ffea9962" >
		<http:listener doc:name="Listener" doc:id="5f41c65b-758b-4b81-b2d0-514f637bedda" config-ref="HTTP_Listener_config" path="ci-cd"/>
		<logger level="INFO" doc:name="Logger" doc:id="db5f7b4b-da90-4694-bcd9-04a2bae7a452" message='#["Logger component"]'/>
		<set-payload value='#["Hii, How are you.!?"]' doc:name="Set Payload" doc:id="8454317e-0b89-418e-bb85-2b1b7c3bbdfe" />
	</flow>
</mule>
